<!-- to do's
- create tailwind css
- make newsletter form work
- figure out how to make longer lists work 
- CTA to be decided (e.g. donate to faucets)
- fix responsiveness on gigachad title
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💧</text></svg>">
  <!--  title -->
  <title>Waterdrop</title>


  <meta name="description" content="A celebration of the good people in blockchain">
  <meta property="description" content="A celebration of the good people in blockchain">
  <meta name="keywords" content="crypto, web3, testnet, ether">
  <meta property="og:title" content="Waterdrop">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A celebration of the good people in blockchain">
  <meta property="twitter:domain" content="">
  <meta property="twitter:title" content="Waterdrop">
  <meta property="twitter:description" content="A celebration of the good people in blockchain">
  <meta property="twitter:image" content="">

  <!-- ===== CSS Files ===== -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G7L86C0KLT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-G7L86C0KLT');
  </script>
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

  <!-- REPLACE THIS -->
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

  <!--Replace with tailwind.css once created-->
  <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    html {
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>
</head>

<body class="bg-cover bg-fixed w-full" style="background-image: url('src/jellyfish_opt.jpg');">

  <!-- stupid ass wave thing, honestly ... spent 2h making the animation overflow the top div border. stupid workaround with pt-64 class -->
  <div class="drop-container absolute right-0 -z-10 pt-64">
    <div class="wave mx-auto"></div>
  </div>

  <div class="h-full">


    <!-- hero container -->
    <div class="container mx-auto justify-center">


      <!-- droplet animation -->
      <div class="mx-auto w-20">
        <div class="drop-container absolute left-0 -z-10">
          <div class="drop"></div>
        </div>

        <!-- gigachad title -->
        <div class="mt-10 flex items-center justify-center">
          <div><a
              class="sm:text-9xl text-9xl text-blue-400 font-bold transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"
              href="#">
              Water</div></br>
          <div><span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-pink-500 to-purple-500">drop</span>
          </div>
          </a>
        </div>

        <!-- put wave thing here if you want it to be relative to gigachad title and change to relative, there is a bug where the animation cuts off at the top of the div tho -->
      </div>
    </div>

    <!--Main-->
    <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">

      <!-- 2 col container  -->
      <div class="md:w-1/2 p-20 mt-10 wow bounceInLeft">
        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight">
          A thank you to
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-white via-pink-500 to-purple-500">
            the good people of the Blockchain
          </span>

        </h1>
        <p class="mb-8 text-white">
          We drop NFT art to people who give back test eth to testnet faucets.
        </p>
      </div>

      <div class="md:w-1/2">
        <div
          class="bg-gray-900 bg-opacity-75 px-4 pt-6 pb-6 mb-2 mx-auto rounded-2xl border-2 border-gray-500 wow bounceInRight">
          <div class="mb-4 mx-auto text-center">
            <p class="px-5 py-3 mb-4 text-white">
              Devs need test eth to play around with. After using test eth, it's nice to give it back as it makes the
              faucet managers happy.
              We drop NFT art to people who give back test eth to testnet faucets.
            </p>
            <div>
              <span class="mx-5">
                <button
                  class="mx-auto opacity-100 bg-opacity-100 bg-gradient-to-r from-pink-900 to-purple-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                  type="button" onclick="alert('Coming soon!')">
                  Mint 💙
                </button>
              </span>
              <a href="/gallery" target="_blank" class="mx-5">
                <button
                  class="mx-auto opacity-100 bg-opacity-100 bg-gradient-to-r from-pink-900 to-purple-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out m-2"
                  type="button">
                  Gallery
                </button>
              </a>

              <a href="https://faucetlink.to/" target="_blank" class="mx-5">
                <button
                  class="mx-auto bg-gradient-to-r from-purple-900 to-pink-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                  type="button">
                  Donate
                </button>
              </a>
            </div>
            <!-- Simple Text Links -->
            <div class="flex flex-wrap justify-center mt-6 text-gray-400">
              <span class="italic">Links:</span><a href="https://etherscan.io/address/{{ contractAddress}}"
                target="_blank" class="mx-5">
                <button
                  class="mx-auto opacity-100 bg-opacity-100 bg-gradient-to-r from-pink-900 to-purple-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                  type="button">
                  Etherscan
                </button>
              </a>
              <a href="https://faucetlink.to/" target="_blank" class="mx-5">
                <button
                  class="mx-auto opacity-100 bg-opacity-100 bg-gradient-to-r from-pink-900 to-purple-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                  type="button">
                  Faucetlink
                </button>
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- wallet list -->
  <div class="mx-auto pb-8 mb-4 rounded-2xl">


    <!-- ===== list start ===== -->
    <div class="max-w-xl mx-auto rounded-lg shadow-lg p-4 text-center text-2xl font-bold text-white min-w-min">

      <div class="flow-root">
        <ul role="list" class="-my-5 ">

          <!-- currently displaying 0th to 50th  -->
          {% for address in addresses[0:50] %}
          <li class="my-3 ">

            <!-- left/right bouncein logic -->
            {% if loop.index % 2 == 0 %}
            <div
              class="flex items-center space-x-4 py-3 px-3 rounded-xl bg-gray-900 opacity-75 border-2 border-gray-500 wow bounceInRight bg-opacity-75 pt-6 pb-6 mb-2 mx-auto"
              data-wow-delay="0s" data-wow-duration="1.5s">
              {% else %}
              <div
                class="flex items-center space-x-4 py-4 px-3 rounded-xl bg-gray-900 opacity-75 border-2 border-gray-500 wow bounceInLeft"
                data-wow-delay="0s" data-wow-duration="1.5s">
                {% endif %}


                <div class="flex-shrink-0">

                  <!-- medals and identicon logic -->
                  <canvas width="42" height="42" data-jdenticon-value="{{ address['address'] }}"></canvas>
                  <!-- end medals and identicon logic -->
                </div>
                <div class="flex-1 break-all">

                  <p class="text-sm font-medium text-white">
                    {% if loop.index == 1 %}🥇
                    {% elif loop.index == 2 %}🥈
                    {% elif loop.index == 3 %}🥉
                    {% endif %}
                    <span class="ens-replace" id="{{ address['address'] }}">{{ address['address'] }}</span>
                  </p>
                  <p class="text-sm text-gray-500 truncate">{{ address['value'] }}Ξ</p>
                </div>

                <!-- view button-->
                <a href="https://etherscan.io/address/{{ address['address'] }}" target="_blank">
                  <button
                    class="mx-auto bg-gradient-to-r from-purple-900 to-pink-800 hover:from-purple-500 hover:to-pink-500 text-white text-sm py-2 px-4 rounded-xl transform transition hover:scale-105 duration-300 ease-in-out"
                    type="button">
                    <i class="fas fa-eye"></i> View
                  </button>
                </a>

              </div>
          </li>

          {% endfor %}
          <script>
            const provider = new ethers.providers.Web3Provider(window.ethereum, "any");

            // switch to correct net
            let web3 = window.ethereum;
            web3
              .request({
                method: "wallet_switchEthereumChain",
                params: [{ chainId: "0x1" }]
              })
              .catch(() => { });

            // get all .ens-replace elements and replace them with the ens name if it exists
            var ens = document.getElementsByClassName('ens-replace');

            // only works if on mainnet
            async function reverseResolveENS(address) {
              // if address doesnt start with 0x, return 
              if (!address.startsWith("0x")) {
                return;
              }
              var name = await provider.lookupAddress(address);
              console.log("Resolved ENS name: " + name);
              return name;
            }

            async function updateAddresses() {
              for (var i = 0; i < ens.length; i++) {
                var address = ens[i].id;
                var name = await reverseResolveENS(address);
                if (name) {
                  ens[i].innerHTML = name;
                }
              }
            }

            updateAddresses();
          </script>

        </ul>
      </div>

    </div>

  </div>

  <!-- Made by Footer -->
  <footer>
    <div class="w-full pt-8 pb-6 text-sm text-center text-lg fade-in">
      <a class="text-white " href="/data">
        Wow, you like scrolling! <br>Click <span class="underline">HERE</span> get the full data as JSON</span>.
    </div>
    <div class="w-full pt-16 pb-6 text-sm text-center fade-in text-gray-400">
      <a class="" href="https://www.prophet.money">
        Made with 💙 by
        <a class="" href="https://www.prophet.money"> the <span class="underline">Prophet</span> team</a>
    </div>
  </footer>

</body>

<!-- ===== JS IDENTICONS ===== -->
<script>
  window.jdenticon_config = {
    hues: [321],
    lightness: {
      color: [1.00, 1.00],
      grayscale: [1.00, 1.00]
    },
    saturation: {
      color: 1.00,
      grayscale: 0.50
    },
    backColor: "#0000"
  };    
</script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.1/dist/jdenticon.min.js"
  integrity="sha384-l0/0sn63N3mskDgRYJZA6Mogihu0VY3CusdLMiwpJ9LFPklOARUcOiWEIGGmFELx" crossorigin="anonymous">
  </script>
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
<!-- ===== Jdenticon end ===== -->

<!-- wow animations script -->
<script src="/src/js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<!-- wow animations end -->

<!-- dev surprise :D -->
<script>
  // faucet ascii art
  var art = `
      =()=
  ,/'\\_||_
  ( (___  \`.
  \`\\./  \`=='
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
         |||
  `;
  console.log(art);
</script>
<!-- dev surprise end -->

</html>