<!-- to do's
- create tailwind css
- make newsletter form work
- figure out how to make longer lists work
- CTA to be decided (e.g. donate to faucets)
- fix responsiveness on gigachad title
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="A celebration of the good people in blockchain">
  <meta property="description" content="A celebration of the good people in blockchain">
  <meta name="keywords" content="crypto, web3, testnet, ether">
  <meta property="og:title" content="Waterdrop">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A celebration of the good people in blockchain">
  <meta property="twitter:domain" content="">
  <meta property="twitter:title" content="Waterdrop">
  <meta property="twitter:description" content="A celebration of the good people in blockchain">
  <meta property="twitter:image" content="">

  <!-- ===== CSS Files ===== -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>




  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G7L86C0KLT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-G7L86C0KLT');
  </script>


  <!-- REPLACE THIS -->
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <!--Replace with tailwind.css once created-->
  <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    html {
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>
</head>

<body class="leading-normal tracking-normal text-indigo-400 bg-cover bg-blend-darken bg-fixed"
  style="background-image: url('src/jellyfish_opt.jpg');">

  <!-- stupid ass wave thing, honestly ... spent 2h making the animation overflow the top div border. stupid workaround with pt-64 class -->
  <div class="drop-container absolute right-0 -z-10 pt-64">
    <div class="wave mx-auto"></div>
  </div>

  <div class="h-full">

  <!-- connect button ...
  <div class="flex mt-8 justify-end">
    <a onclick="login()" id="login-button" class="bg-gradient-to-r from-blue-400 to-pink-300 hover:from-purple-700 hover:to-pink-300 text-white font-bold py-2 px-4 rounded-full transform transition hover:scale-105 duration-300 ease-in-out">
      Connect
    </a>
  </div> -->

    <!-- hero container -->
    <div class="container mx-auto justify-center">


      <!-- droplet animation -->
      <div class="mx-auto w-20">
        <div class="drop-container absolute left-0 -z-10">
          <div class="drop"></div>
        </div>

        <!-- gigachad title -->
        <div class="mt-10 flex items-center justify-center">
          <div><a
              class="sm:text-9xl text-9xl text-blue-400 font-bold ransform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"
              href="#">
              Water</div></br>
          <div><span
              class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-pink-500 to-purple-500">drop</span>
          </div>
          </a>
        </div>

        <!-- put wave thing here if you want it to be relative to gigachad title -->


      </div>
    </div>

    <!--Main-->
    <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">

      <!-- subtitle and newsletter box -->

      <!-- 2 col container  -->
      <div class="w-full md:w-1/2 p-20 mt-10">
        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight">
          A thank you to
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-white via-pink-500 to-purple-500">
            the good people of the Blockchain
          </span>

        </h1>
        <p class="mb-8 text-white">
          We drop NFT art to people who give back test eth to testnet faucets.
        </p>
      </div>

      <div class="w-full md:w-1/2 ">
        <form class="bg-gray-900 opacity-75 px-8 pt-6 pb-8 mb-4 mx-auto rounded-2xl">
          <div class="mb-4 mx-auto text-center">
            <p class="p-10 mb-8 text-white">This is the place to write one or two sentences about what faucets are and why donating back your test eth makes everyone's life easier.</p>
            <a href="https://faucetlink.to/" target="_blank">
            <button
              class="mx-auto bg-gradient-to-r from-purple-900 to-pink-800 hover:from-purple-500 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button">
              Donate
            </button>
            </a>
          </div>

        </form>
      </div>
    </div>



  </div>


  <!-- wallet list -->
  <div class="w-1/2 mx-auto bg-gray-900 opacity-75 px-8 pt-6 pb-8 mb-4 rounded-2xl">


    <!-- ===== list start ===== -->
    <div class="max-w-xl mx-auto rounded-lg shadow-lg p-4 text-center text-2xl font-bold text-white min-w-full">

      <div class="flow-root">
        <ul role="list" class="-my-5 divide-y divide-gray-200">

          <!-- currently displaying 0th to 10th  -->
          {% for address in addresses[0:50] %}
          <li class="py-4">

            <!-- left/right bouncein logic -->
            {% if loop.index % 2 == 0 %}
            <div class="flex items-center space-x-4 wow bounceInRight" data-wow-delay="0s" data-wow-duration="1.5s">
              {% else %}
              <div class="flex items-center space-x-4 wow bounceInLeft" data-wow-delay="0s" data-wow-duration="1.5s">
                {% endif %}


                <div class="flex-shrink-0" id="{{ address['address'] }}">

                  <!-- medals and identicon logic -->
                  {% if loop.index == 1 %}<p>🥇</p>
                  {% elif loop.index == 2 %}<p>🥈</p>
                  {% elif loop.index == 3 %}<p>🥉</p>
                  {% else %}
                  <canvas width="42" height="42" data-jdenticon-value="{{ address['address'] }}"></canvas>
                  {% endif %}
                  <!-- end medals and identicon logic -->
                </div>
                <div class="flex-1">
                  <p class="text-sm font-medium text-white truncate">
                    {{ address['address'] }}</p>
                  <p class="text-sm text-gray-500 truncate">{{ address['value'] }}Ξ</p>
                </div>

                <!-- view button-->
                <a href="https://etherscan.io/address/{{ address['address'] }}" target="_blank">
                  <button
                    class="mx-auto bg-gradient-to-r from-purple-900 to-pink-800 hover:from-purple-500 hover:to-pink-500 text-white text-sm py-2 px-4 rounded-xl transform transition hover:scale-105 duration-300 ease-in-out"
                    type="button">
                    <i class="fas fa-eye"></i> View
                  </button>
                </a>

              </div>
          </li>

          {% endfor %}

        </ul>
      </div>

      <!-- view more button but can't figure out logic with jinja
      <div class="mt-6">
        <a href="#"
          class="w-full flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
          View all </a>
      </div>    -->

      <!-- ===== list end ===== -->
      </section>

    </div>

    <!-- Made by Footer -->
    <div class="w-full pt-16 pb-6 text-sm text-center fade-in">
      <a class="text-white" href="#">
        Wow, you like scrolling. Made with 💙 by
        <a class="text-white" href="https://www.prophet.money"> the Prophet team</a>
    </div>

</body>

<!-- ===== JS IDENTICONS ===== -->
<script>
  window.jdenticon_config = {
    hues: [321],
    lightness: {
      color: [1.00, 1.00],
      grayscale: [1.00, 1.00]
    },
    saturation: {
      color: 1.00,
      grayscale: 0.50
    },
    backColor: "#0000"
  };    
</script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.1/dist/jdenticon.min.js"
  integrity="sha384-l0/0sn63N3mskDgRYJZA6Mogihu0VY3CusdLMiwpJ9LFPklOARUcOiWEIGGmFELx" crossorigin="anonymous">
  </script>
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
<!-- ===== Jdenticon end ===== -->

<!-- wow animations script -->
<script src="/src/js/wow.min.js"></script>
<script>
  new WOW().init();
  console.log('such wow');
</script>
<!-- wow aniations end -->

</html>